.mat-card-simplezinho {
    background-color: lightgrey;
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*
    1) depois de muito lutar, o angular material tá instalado nas dependências. vamos testar agora

*/