.mat-card-simplezinho {
    background-color: lightgrey;
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*
    1) pode ser o angular material, mas instalei e não apareceu.


*/