.mat-card-simplezinho {
    display: inline-block;
    background-color: lightgrey;
    max-width: 300px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*
    Infelizmente, não posso mais depender do Bard para me ajudar com código, porque ele simplesmente
    não sabia. 

    Fiquei umas 2 horas com ele me dando inúmeras dicas do que fazer, sendo que o problema era apenas 
    colocar o display como inline-block.

    Enfim, qualquer alteração nos cards eu faço neste arquivo.

*/